* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

input:hover {
  cursor: pointer;
  opacity: 0.5;
}

select:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.container h1 {
  border-bottom: 1px solid black;
}

.states {
  margin-bottom: 20px;
}

.search-form .submit {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
  
.hidden {
  display: none;
}

.park {
  padding: 20px;
  text-align: center;
  font-size: 10px;
  border: 1px solid black;
}

.park p {
  margin-top: 10px;
  margin-bottom: 10px;
}